.idea/
!.idea/vcs.xml

# paimon-python-java-bridge
target
dependency-reduced-pom.xml

# Python building & testing
.tox/
.DS_Store
__pycache__
build/
dev/.conda
dev/.stage.txt
dev/download
dev/log
dist/
*.egg-info/
venv